.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

header {
  width: 100%;
  height: 80px;
  background: rgba(0, 0, 0, 0.5);
}

header .text-center {
  color: white;
}

.ex_glasses {
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.3);
}

.glasses {
  background: white;
  border: 1px solid transparent;
  border-radius: 16px;
}

.change_glasses {
  position: absolute;
  content: '';
  top: 123px;
  left: 218px;
  width: 120px;

}

.info_glasses {
  position: absolute;
  content: '';
  bottom: 42px;
  width: 263px;
  height: 103px;
  background: rgba(0, 0, 0, 0.5);
  left: 146px;
}
.col-4 {
  cursor: pointer;
}

.col-4 img {
  width: 185px;
  height: 65px;
}